/* ********************************************** */
* {
  font-family: arial;
}
body {
  max-width: 300px;
  margin: 0;
}

p {
  /* 	padding: 10px; */
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #484747;
}

.boxarea {
  margin: 0 auto;
}

.content-area {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  display: inline-block;
  white-space: normal;
  max-height: 400px;
  overflow-y: auto;
}

.content input {
  padding: 12px 30px;
  margin: 15px 10px 10px;
  background-color: #B62978;
  font-size: 15px;
  color: #FFFFFF;
  border: none;
  outline: none;
  border: 2px solid #B62978;
  border-radius: 5px;
}

.content input:hover {
  background-color: #FFFFFF;
  color: #B62978;
  border: 2px solid #B62978;
  transition: 0.5s;
}

.content input:active {
  background-color: #B62978;
  color: #FFFFFF;
  transition: 0.3s;
}

.tabs-cards {
  padding-top: 10px;
}

.card {
  padding: 10px;
  margin: 15px;
  border: solid 1px #ededed;
  font-size: 12px;
  text-align: left;
}

.card button {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FFFFFF;
  border: solid 1px #ededed;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

.card button:hover {
  border-color: #B62978;
  color: #B62978;
  transition: 0.5s;
}

.card button:active {
  background-color: #B62978;
  color: #FFFFFF;
  transition: 0.5s;
}

.store {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store img {
  max-width: 100px;
  max-height: 50px;
  background-size: cover;
}

nav {
  box-sizing: border-box;
  width: 100%
}

nav ul.nav-tabs {
  margin: 0px auto;
  padding: 0px;
  display: table;
  width: 100%;
}

.nav-tabs li {
  font-size: 18px;
  list-style: none;
  display: table-cell;
}

.nav-tabs li:last-child {
  padding-right: 0px;
}

.nav-tabs li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #7E7D7E;
}

.nav-tabs li a:hover {
  color: #2B0A1E;
}

.nav-tabs li a.active {
  color: #B62978;
}

section {
  margin: 0px 0px;
  padding: 0px;
  float: left;
  text-align: center;
}

.block-content{
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  height: 100%;
  width: 5000px;
  margin: 0px;
  padding: 0;
  padding-top: 0px;
  position: block;
  white-space: nowrap;
  transition: all 0.3s ease-in;
}
