*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.content {
  width: 275px;
  margin: 0 auto;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E7D7E;
}

.tabs__item:hover {
  color: #2B0A1E;
}

.active {
  color: #B62978;
}

.active:hover {
  color: #B62978;
}

.tabs__block {
  font-size: 18px;
  display: none;
  text-align: center;
  max-height: 400px;
  overflow-y: scroll;
}

.tabs__block h2 {
  padding: 10px 25px 25px;
}

.card,
.store {
  padding: 10px;
  margin: 15px;
  border: solid 1px #ededed;
  font-size: 12px;
  text-align: left;
}

.card button,
.store button {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FFFFFF;
  border: solid 1px #ededed;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

.card button:hover,
.store button:hover {
  border-color: #B62978;
  color: #B62978;
  transition: 0.5s;
}

.card button:active,
.store button:active {
  background-color: #B62978;
  color: #FFFFFF;
  transition: 0.5s;
}

.block__content {
  margin: 100px 0 100px;
  padding: 10px;
  font-size: 15px;
}

.block__three input {
  padding: 12px 30px;
  margin: 15px 10px 10px;
  background-color: #B62978;
  font-size: 15px;
  color: #FFFFFF;
  border: none;
  outline: none;
  border: 2px solid #B62978;
  border-radius: 5px;
}

.block__three input:hover {
  background-color: #FFFFFF;
  color: #B62978;
  border: 2px solid #B62978;
  transition: 0.5s;
}

.block__three input:active {
  background-color: #B62978;
  color: #FFFFFF;
  transition: 0.3s;
}

.store {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store img {
  max-width: 100px;
  max-height: 50px;
  background-size: cover;
}

.tabs__block{
   animation-duration: 0.3s;
   animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*
@keyframes slideout {
  from {
    margin-left: -300%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
} */
